.App {
  text-align: center;
}

a {
  color: #61dafb;
}

.App__light {
  --bg-app: #fff;
  --color: #000;
  background-color: #fff;
  color: #000;
}

.App__dark {
  --bg-app: #000;
  --color: #fff;
  background-color: #000;
  color: #fff;
}